if messages.errors
  +alert('warning')
    for error in messages.errors
      div= error.msg
if messages.info
  +alert('info')
    for info in messages.info
      div= info.msg
if messages.success
  +alert('success')
    for success in messages.success
      div= success.msg